# List and It's Default Functions

In [1]:
lst = ["Hello","This","Is","Abhishek","From","Bihar",800002]

In [2]:
print(lst)

['Hello', 'This', 'Is', 'Abhishek', 'From', 'Bihar', 800002]

In [3]:
#First method is append:

lst.append(35)

In [4]:
lst

['Hello', 'This', 'Is', 'Abhishek', 'From', 'Bihar', 800002, 35]

In [6]:
#Second method is extend:

lst = ["Hello","This","Is","Abhishek","From","Bihar",800002,"Batch",7]
print(lst)
lst.extend(["Python","By","Letsupgrade"])

['Hello', 'This', 'Is', 'Abhishek', 'From', 'Bihar', 800002, 'Batch', 7]

In [7]:
print(lst)

['Hello', 'This', 'Is', 'Abhishek', 'From', 'Bihar', 800002, 'Batch', 7, 'Python', 'By', 'Letsupgrade']

In [8]:
#Third method is remove:

print(lst)

['Hello', 'This', 'Is', 'Abhishek', 'From', 'Bihar', 800002, 'Batch', 7, 'Python', 'By', 'Letsupgrade']

In [9]:
lst.remove("By")

In [10]:
lst.remove("Python")

In [11]:
lst.remove("Letsupgrade")

In [12]:
print(lst)

['Hello', 'This', 'Is', 'Abhishek', 'From', 'Bihar', 800002, 'Batch', 7]

In [13]:
#Fourth method is insert:

print(lst)

['Hello', 'This', 'Is', 'Abhishek', 'From', 'Bihar', 800002, 'Batch', 7]

In [14]:
lst.insert(1,"Letsupgrade")

In [15]:
print(lst)

['Hello', 'Letsupgrade', 'This', 'Is', 'Abhishek', 'From', 'Bihar', 800002, 'Batch', 7]

In [16]:
lst.insert(10,"Python")

In [17]:
print(lst)

['Hello', 'Letsupgrade', 'This', 'Is', 'Abhishek', 'From', 'Bihar', 800002, 'Batch', 7, 'Python']

In [18]:
#Fifth method is sort():

l=[26,2,5,3,8,90,34,67,343,7,0]
print(l)

[26, 2, 5, 3, 8, 90, 34, 67, 343, 7, 0]

In [19]:
l.sort()
print(l)

[0, 2, 3, 5, 7, 8, 26, 34, 67, 90, 343]



# Dictionary and its default functions

In [20]:
user = {
        "Name": "Abhishek",
        "Age": 23,
        "Location": "Bihar"
          }
print(user)

{'Name': 'Abhishek', 'Age': 23, 'Location': 'Bihar'}

In [21]:
#first - Add a new item:


user["Height"] = 178

In [22]:
user

{'Name': 'Abhishek', 'Age': 23, 'Location': 'Bihar', 'Height': 178}

In [23]:
#Second - Update a list item:

fd = {"Fruit": ["Apple", "Orange", "Banana"], "Vegetables": ("Cabbage", "Cucumber", "Broccoli")}

print(fd)

{'Fruit': ['Apple', 'Orange', 'Banana'], 'Vegetables': ('Cabbage', 'Cucumber', 'Broccoli')}

In [24]:
fd["Fruit"][2] = "Mango"
print(fd)

{'Fruit': ['Apple', 'Orange', 'Mango'], 'Vegetables': ('Cabbage', 'Cucumber', 'Broccoli')}

In [25]:
#Third - Delete an item:

print(fd)

{'Fruit': ['Apple', 'Orange', 'Mango'], 'Vegetables': ('Cabbage', 'Cucumber', 'Broccoli')}

In [26]:
del fd["Vegetables"]

In [27]:
fd

{'Fruit': ['Apple', 'Orange', 'Mango']}

In [28]:
print(user)

{'Name': 'Abhishek', 'Age': 23, 'Location': 'Bihar', 'Height': 178}

In [29]:
del user["Location"]

In [30]:
user

{'Name': 'Abhishek', 'Age': 23, 'Height': 178}

In [31]:
#Fourth - Copy a Dictionary:

user = dict(fd)

In [32]:
user

{'Fruit': ['Apple', 'Orange', 'Mango']}

In [33]:
#Fifth - Print Value of Dictionary:

u = {
        "Name": "Abhishek",
        "Age": 23,
        "Location": "Bihar",
        "Height": 178
          }
print(u)

{'Name': 'Abhishek', 'Age': 23, 'Location': 'Bihar', 'Height': 178}

In [34]:
x = u.values()

In [35]:
print(x)

dict_values(['Abhishek', 23, 'Bihar', 178])

# Sets and its default functions

In [36]:
s = {"apple", "banana", "cherry"}

In [37]:
s

{'apple', 'banana', 'cherry'}

In [38]:
#First - Add an item:


s.add("orange")
print(s)

{'orange', 'apple', 'cherry', 'banana'}

In [40]:
#Second - Update an Set:

print(s)

{'orange', 'apple', 'cherry', 'banana'}

In [42]:
s.update(["mango", "grapes"])
print(s)

{'orange', 'mango', 'banana', 'grapes', 'apple', 'cherry'}

In [43]:
#Third - To remove an item:

print(s)

{'orange', 'mango', 'banana', 'grapes', 'apple', 'cherry'}

In [44]:
s.remove("cherry")
print(s)

{'orange', 'mango', 'banana', 'grapes', 'apple'}

In [45]:
#Fourth - Join two sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

print(set1)
print(set2)

{'a', 'c', 'b'}
{1, 2, 3}

In [46]:
set3 = set1.union(set2)
print(set3)

{'a', 'c', 1, 2, 3, 'b'}

In [47]:
#Fifth - Difference in two sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

print(x)
print(y)

{'apple', 'cherry', 'banana'}
{'google', 'apple', 'microsoft'}

In [48]:
z = x.difference(y)
q = y.difference(x)

print(z)
print(q)

{'cherry', 'banana'}
{'google', 'microsoft'}

# Tuple and explore default methods

In [49]:
t = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
t1 = ("Saturday", "Sunday")

In [50]:
print(t)
print(t1)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')
('Saturday', 'Sunday')

In [51]:
#1-Index:


t.index("Thursday")

3

In [52]:
t1.index("Sunday")

1

In [53]:
#2-Length:

t = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
print(t[1:4])

('Tuesday', 'Wednesday', 'Thursday')

In [54]:
#3-Access a List Item within a Tuple:

t2 = (101, 202, ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]) 
print(t2[2][1])

Tuesday

In [55]:
#4-Join two tuples:

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [56]:
#5-Deleting:

del tuple1

# Strings and explore default methods.

In [57]:
age = 23
txt = "My name is Abhishek, and I am {}"

In [58]:
txt

'My name is Abhishek, and I am {}'

In [59]:
#1- Insert numbers into strings:

print(txt.format(age))

My name is Abhishek, and I am 23

In [60]:
#2- Spliting:


txt = "Welcome to Letsupgrade Python"

In [61]:
x = txt.split()

print(x)

['Welcome', 'to', 'Letsupgrade', 'Python']

In [62]:
#3- Find:


txt = "Welcome to Letsupgrade Python"
print(txt)

Welcome to Letsupgrade Python

In [63]:
print(txt.find("y"))

24

In [64]:
print(txt.find("Python"))

23

In [65]:
print(txt.find("Python"))
print(txt.index("Python"))

23
23

In [66]:
#4- Replacing:


s = "My name is Abhishek and I am 23"
print(s)

My name is Abhishek and I am 23

In [67]:
s.replace("am","was")

'My nwase is Abhishek and I was 23'

In [68]:
#5- Center:


str = "Python"

x = str.center(20, "*")

print(x)

*******Python*******